<html>
<head>
    <meta charset="UTF-8">
    <title>Demo Dos</title>

</head>
<body onload="initializeGame('{{username}}');">

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.sound.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="frontendgui.js"></script>
<script src="individual.js"></script>
<script src="themdots.js"></script>

</body>
</html>